@font-face {
  font-family: "iconfont"; /* Project id 2551185 */
  src: url('iconfont.woff2?t=1621152097776') format('woff2'),
       url('iconfont.woff?t=1621152097776') format('woff'),
       url('iconfont.ttf?t=1621152097776') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-direction-left:before {
  content: "\e66e";
}

.icon-elipsis:before {
  content: "\e66f";
}

.icon-close-bold:before {
  content: "\e685";
}

